@use "../helpers/" as *;

.card {
	background-color: white;
	width: 420px;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	figure {
		padding: 0;
		margin: 0;
		overflow: hidden;
		border-radius: 16px 16px 0 0;
		img {
			width: 100%;
		}
	}

	&__content {
		padding: 40px 35px;
		h1 {
			text-align: center;
			margin-bottom: 20px;
			color: $dark-blue;
			font-size: 24px;
			font-style: normal;
			font-weight: 900;
		}
		p {
			text-align: center;
			margin-bottom: 20px;
			line-height: 24px;
			color: $desaturated-blue;
		}
		&__plan {
			background-color: $very-pale-blue;
			margin-bottom: 20px;
			padding: 20px 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			border-radius: 16px;
			img {
				width: 48px;
			}
			.plan__wrapper {
				display: flex;
				flex-direction: column;
				flex-basis: 40%;

				&__name {
					color: $dark-blue;
				}
				&__price {
					color: $desaturated-blue;
				}
			}
			a {
				color: $bright-blue;
				font-weight: map-get($font-weights, medium);
				&:hover {
					opacity: 0.8;
					text-decoration: none;
				}
			}
		}
		.cta {
			background-color: $bright-blue;
			color: white;
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 16px 0;
			font-weight: map-get($font-weights, bold);
			text-decoration: none;
			border-radius: 16px;
			margin-bottom: 20px;
			box-shadow: rgba(35, 46, 94, 0.1) 0px 20px 25px -5px,
				rgba(35, 46, 94, 0.04) 0px 10px 10px -5px;
			&:hover {
				opacity: 0.8;
			}
		}
		.wrap-cancel {
			display: grid;
			place-items: center;
			.cancel {
				text-align: center;
				color: $desaturated-blue;
				font-weight: map-get($font-weights, bold);
				text-decoration: none;
				&:hover {
					color: $dark-blue;
				}
			}
		}
		@include display(mobile) {
			padding: 35px 16px;
		}
	}
}
