@use "../helpers/" as *;

.card {
	background-color: white;
	width: 400px;
	border-radius: 16px;

	figure {
		padding: 0;
		margin: 0;
		width: 100%;
		overflow: hidden;
		border-radius: 16px 16px 0 0;
		img {
			width: 100%;
		}
	}

	&__content {
		padding: 40px 35px;
		h1 {
			text-align: center;
			margin-bottom: 20px;
			color: $dark-blue;
			font-size: 24px;
			font-style: normal;
			font-weight: 900;
		}
		p {
			text-align: center;
			margin-bottom: 20px;
			line-height: 24px;
			color: $desaturated-blue;
		}
		&__plan {
			background-color: $very-pale-blue;
			margin-bottom: 20px;
			padding: 10px 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			border-radius: 16px;
			img {
				width: 48px;
			}
			.plan__wrapper {
				display: flex;
				flex-direction: column;
				flex-basis: 40%;

				&__name {
					color: $dark-blue;
				}
				&__price {
					color: $desaturated-blue;
				}
			}
			a {
				color: $bright-blue;
				font-weight: map-get($font-weights, medium);
			}
		}
		.cta {
			background-color: $bright-blue;
			color: white;
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 16px 0;
			font-weight: map-get($font-weights, bold);
			text-decoration: none;
			border-radius: 16px;
			margin-bottom: 20px;
		}
		.wrap-cancel {
			display: grid;
			place-items: center;
			.cancel {
				text-align: center;
				color: $desaturated-blue;
				font-weight: map-get($font-weights, bold);
				text-decoration: none;
			}
		}
	}
}
