@use "../helpers/" as *;
// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: $primary-font;

	// border: 1px solid gray;
	// overflow-x: hidden;
}

body {
	box-sizing: border-box;
	background-color: $pale-blue;
	background-image: url("../../../images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;

	@include display(mobile) {
		background-image: url("../../../images/pattern-background-mobile.svg");
		padding: 0 16px;
	}
}

p {
	font-size: 16px;
}

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
